
# LLM
OLLAMA_HOST=

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=market_iq
POSTGRES_USER=postgres
POSTGRES_PASSWORD=

# Qdrant
QDRANT_HOST=localhost
QDRANT_PORT=6333

# Kafka
KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Application
STREAMLIT_PORT=8501
